.selling__section {
    padding: 50px 0;
}

.selling__section--container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.selling__cards {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.selling__card {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 20px 60px 0px rgba(48, 48, 48, 0.15);
    border-radius: 24px;
}

.selling__card--title > img {
    width: 150px;
    height: 220px;
    object-fit: cover;
    border-radius: 18px;
}

.selling__card--title {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-bottom: 25px;
}

.selling__card--bottom {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.selling__sub {
    display: flex;
    justify-content: space-between;
}
